<div class="card-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-stroked-button>
        {{ dashboardConstants.MOTHER }}
        <mat-icon color="primary">pregnant_woman</mat-icon>
      </button>
      <button mat-stroked-button>
        {{ dashboardConstants.NUTRITION }}
        <mat-icon color="primary">dinner_dining</mat-icon>
      </button>
      <button mat-stroked-button>
        {{ dashboardConstants.ADVICES }}
        <mat-icon color="primary">list_alt</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-paginator></app-paginator>
