<div class="form-container">
  <p class="title">
    <strong>{{ forgottenPasswordConstants.FORM_TITLE }}</strong>
  </p>
  <form [formGroup]="forgottenPasswordForm">
    <div class="mat-form-fields-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>{{
          forgottenPasswordConstants.EMAIL_INPUT_FIELD_LABEL
        }}</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            forgottenPasswordForm.controls['email'].hasError('email') &&
            !forgottenPasswordForm.controls['email'].hasError('required')
          "
        >
          {{ forgottenPasswordConstants.INVALID_EMAIL }}
        </mat-error>
        <mat-error
          *ngIf="forgottenPasswordForm.controls['email'].hasError('required')"
        >
          {{ forgottenPasswordConstants.EMAIL_FIELD_IS_REQUIRED }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="!forgottenPasswordForm.valid"
        color="primary"
        (click)="sendResetPasswordEmail()"
      >
        {{ forgottenPasswordConstants.SEND }}
      </button>
    </div>
  </form>
</div>
