<div class="background"></div>
<div class="user-toolbar-container">
  <mat-toolbar color="primary">
    <span class="user-name-container">
      {{ userName + userPageConstants.GREETING }}
    </span>

    <div class="space"></div>

    <button
      mat-icon-button
      matTooltip="начало"
      matTooltipClass="tooltip-background"
      routerLink="/user/{{ userId }}"
    >
      <mat-icon>home</mat-icon>
    </button>

    <div class="space"></div>

    <button
      mat-icon-button
      matTooltip="форум"
      matTooltipClass="tooltip-background"
    >
      <mat-icon>forum</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="излизане"
      matTooltipClass="tooltip-background"
      class="logout-button"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-gestational-week-card></app-gestational-week-card>
<app-paginator></app-paginator>
<app-sidenav></app-sidenav>
<app-footer></app-footer>
