<div class="user-toolbar-container">
  <mat-toolbar color="primary">
    <span class="user-name-container">
      {{ userName + userPageConstants.GREETING }}
    </span>

    <div class="space"></div>

    <button mat-icon-button class="forum-button">
      <mat-icon>home</mat-icon>
    </button>

    <div class="space"></div>

    <button mat-icon-button class="forum-button">
      <mat-icon>forum</mat-icon>
    </button>

    <button mat-icon-button class="logout-button-container" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-sidenav></app-sidenav>
