.logout-button-container{
    position: absolute;
    right: 2%;
}

.space{
    height: auto;
    display: inline-block;
}
.user-name-container{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
