.container{
    display: flex;
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    div{
        display: block;
    }

    h2{
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        color: #ff4081;
        font-size: 60px;
    }

    span{
        font-size: 100px;
        color: #ff4081;
    }
}