.title-container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1%;
    padding: 1%;

    h3{
        font-size: 50px;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        color: #ff4081;
    }
}

.card{
    width: 70%;
    margin: auto;
    border: 2px solid #F48FB1;
    border-radius: 25px;
    margin-bottom: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.paginator-container{
    display: flex;
    justify-content: center;

    mat-paginator{
        margin-bottom: 15px;
    }    
}

mat-card-header{
    display: flex;
    justify-content: center;
    color: #ff4081;
}

.article-content{
    overflow-y: hidden;
    font-size: 16px;
    white-space: pre-wrap;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.delete-button{
    border: 0;
  }

.article-action-buttons-container{   
    display: flex;
    justify-content: flex-end;

    button{
      margin-top: 7%;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
}

.reaction-buttons-container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.actions-main-container{    
    display: flex;
    align-items: self-end;
}

.add-button-container{
    position: absolute;
    left: 2%;
    top: 12%;
}

.search-container{
    width: 100%;
    display: flex;
    justify-content: center;

        .inner-container{
            display: flex;
            justify-content: space-between;
            width: 60%;
            border-radius: 20px;
            padding: 20px;
            border: 3px solid #F48FB1;
        
            .search-button{
                .icon-display {
                    transform: scale(1.5);
                }
                
                &:hover{background-color: rgba(244, 143, 177, 0.3);}
            }

            &:focus-within{      
                border: 3px solid #ff4081 !important;
            }
        }
}

input{
    border: none;
    width: 70%;

    &:focus-visible{
        outline: none;
    }
}

.article-preview{
    border: 3px solid #ff4081;
    border-radius: 6px;
    padding: 3px 10px 10px 10px;
    &:hover{
        background-color: rgba(244, 143, 177, 0.3); 
        cursor: pointer;
    }    
}

.articles-wrapper{
    display: flex;
    flex-direction: column;
}