<div class="title-container">
  <h3>
    {{ articlesPageConstants.TITLE }}
  </h3>
</div>
<div class="add-button-container" *ngIf="authService.isAdmin | async">
  <button color="primary" mat-fab (click)="openAddArticleDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="search-container">
  <div class="inner-container">
    <input [placeholder]="articlesPageConstants.SEARCH_PLACEHOLDER" />
    <button mat-icon-button color="primary" class="search-button">
      <mat-icon class="icon-display">search</mat-icon>
    </button>
  </div>
</div>

<mat-list>
  <div class="articles-wrapper">
    <mat-list-item *ngFor="let article of dataSource.data">
      <div class="article-preview">
        <span matListItemTitle>{{ article.title }}</span>
        <span matListItemLine>{{ article.content }}</span>
      </div>
    </mat-list-item>
  </div>
</mat-list>

<div class="paginator-container">
  <mat-paginator
    hidePageSize
    *ngIf="dataSource.data.length > 0"
    [pageSize]="5"
    showFirstLastButtons
    [length]="paginatorLength"
    (page)="onPageChange()"
  >
  </mat-paginator>
</div>
