<mat-card *ngIf="topic" class="card">
  <mat-card-header class="topic-header">
    <mat-card-title>{{ topic.title }}</mat-card-title>
    <mat-card-subtitle
      >{{ topicPageConstants.AUTHOR }} {{ topic.userName }}</mat-card-subtitle
    >
    <mat-card-subtitle>
      {{ topicPageConstants.PUBLISHED_ON }}
      {{ topic.createdOn | date : "longDate" }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>{{ topic.content }}</mat-card-content>
  <mat-card-actions>
    <button
      class="comments-button"
      mat-stroked-button
      (click)="expandComments()"
    >
      {{
        changeCommentsButtonArrow
          ? topicPageConstants.HIDE_COMMENTS
          : topicPageConstants.SHOW_COMMENTS
      }}
      <mat-icon>{{
        changeCommentsButtonArrow ? "expand_less" : "expand_more"
      }}</mat-icon>
    </button>

    <button
      color="primary"
      mat-raised-button
      *ngIf="showActionButtons"
      (click)="openEditModal()"
    >
      {{ topicPageConstants.EDIT_TOPIC }}
    </button>

    <button
      color="warn"
      class="delete-button"
      mat-raised-button
      *ngIf="showActionButtons"
      (click)="toggleDeleteTopicDialog()"
    >
      {{ topicPageConstants.DELETE_TOPIC }}
    </button>
  </mat-card-actions>

  <div *ngIf="showCommentsSection" class="comments-container">
    <mat-card class="card" *ngFor="let comment of comments">
      <mat-card-header>
        <mat-card-subtitle
          >{{ topicPageConstants.AUTHOR }}
          {{ comment.userName }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          {{ topicPageConstants.PUBLISHED_ON }}
          {{ comment.createdOn | date : "longDate" }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{ comment.content }}</mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button
          matTooltip="Харесване"
          matTooltipClass="tooltip-background"
          color="primary"
        >
          <mat-icon class="material-icons-outlined"> thumb_up </mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Любов"
          matTooltipClass="tooltip-background"
          color="primary"
        >
          <mat-icon> favorite_outline</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Смях"
          matTooltipClass="tooltip-background"
          color="primary"
        >
          <mat-icon> mood_outline </mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Тъга"
          matTooltipClass="tooltip-background"
          color="primary"
        >
          <mat-icon> sentiment_very_dissatisfied </mat-icon>
        </button>

        <button
          color="primary"
          mat-raised-button
          *ngIf="showActionButtons"
          (click)="openEditModal()"
        >
          {{ topicPageConstants.EDIT_COMMENT }}
        </button>

        <button
          color="warn"
          class="delete-button"
          mat-raised-button
          *ngIf="showActionButtons"
          (click)="toggleDeleteTopicDialog()"
        >
          {{ topicPageConstants.DELETE_COMMENT }}
        </button>
      </mat-card-actions>
    </mat-card>
    <div class="add-comment-button-container">
      <button
        mat-raised-button
        color="primary"
        (click)="openAddCommentDialog()"
      >
        {{ topicPageConstants.ADD_COMMENT }}
      </button>
    </div>
  </div>
</mat-card>
