.card {
    border: 2px solid #F48FB1;
    border-radius: 25px;
    margin-bottom: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

  .topic-header{
    justify-content: center;
    color: #ff4081;  
  }

  mat-card-actions{
    display: flex;
    justify-content: right;
    gap: 10px;
  }

  .comments-button{
    border: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #ff4081;  
  }

  .delete-button{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border: 0;
  }

  .add-comment-button-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-comments-to-show{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff4081;  
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    font-size: 50px;
  }

  .reaction-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comment-action-buttons-container{
    button{
      margin-top: 7%;
      margin-left: 10px;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
  }

  mat-paginator{
    display: flex;
    justify-content: center;
  }