.form-container {
    width: 50%;
    margin: auto;
    top: 25%;
    left: 25%;
    height: 50%;
    position: absolute;
    
    border: 8px inset #F48FB1;
  }
  
  mat-form-field{
    display: block;
    width: 50%;
    margin-top: 5%;
  }

  .mat-form-fields-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title{
    text-align: center;
    font-size: 32px;
    margin-top: 10%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #F48FB1;
  }

  
button{
    margin-top: 1%;
  }