@use '@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include mat.core();

$my-primary: mat.define-palette(mat.$pink-palette, A200);
$my-accent: mat.define-palette(mat.$pink-palette, A100);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));     
@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.mdc-tooltip__surface{
  background-color: pink !important;
  color: black !important ;
}

.mat-paginator-page-size{
  display: none !important;
}

.mat-expansion-indicator::after{
  color: #ff4081;
}

main{
  overflow-y: auto;
}

.mdc-checkbox__background{
  border-radius: 70% !important;
  height: 20px;
  width: 20px;
}

.mdc-checkbox__checkmark{
  color: white !important;
}

app-dashboard-page{
  position: relative;
  display: flex;
  margin-top: -20%;
}

.mat-checkbox-layout{
  white-space: normal !important;
}

.mat-paginator {
  .mat-button-wrapper{
    color: #ff4081 !important;
  }

  .mat-button-disabled{
    .mat-button-wrapper{
      color: grey !important;
    }
    
  }
}

.mdc-text-field:hover {
  will-change: auto !important;
  position: inherit !important;
  border: 1px solid #ff4081 !important;
  border-radius: 4px;
}

mat-list-item{
  height: auto !important;
  max-width: 70% !important;
  align-self: center !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
