footer{
    background-color:#F48FB1;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}