<div class="card-wrapper" *ngIf="!!article">
  <mat-card class="card">
    <mat-card-header
      ><strong>{{ article.title }}</strong></mat-card-header
    >
    <mat-card-content>
      <pre class="article-content">{{ article.content }}</pre>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions-main-container">
        <div class="reaction-buttons-container">
          <span
            ><strong>{{
              articlePageConstants.WAS_THE_ARTICLE_USEFUL
            }}</strong></span
          >

          <div class="reaction-button-container">
            <button
              mat-icon-button
              color="primary"
              (click)="addReaction(true, article)"
            >
              <span
                [ngClass]="
                  article.isLiked ? 'material-icons' : 'material-icons-outlined'
                "
              >
                thumb_up
              </span>
            </button>
            <span>{{ article.likesCount }}</span>
          </div>

          <div class="reaction-button-container">
            <button
              mat-icon-button
              color="primary"
              (click)="addReaction(false, article)"
            >
              <span
                [ngClass]="
                  article.isLiked
                    ? 'material-icons-outlined'
                    : article.isLiked == null
                    ? 'material-icons-outlined'
                    : 'material-icons'
                "
              >
                thumb_down
              </span>
            </button>
            <span>{{ article.dislikesCount }}</span>
          </div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
