<div class="form-container">
  <p class="title">
    <strong>{{ resetPasswordConstants.FORM_TITLE }}</strong>
  </p>
  <form [formGroup]="resetPasswordForm">
    <div class="mat-form-fields-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>{{
          resetPasswordConstants.NEW_PASSWORD_INPUT_LABEL
        }}</mat-label>
        <input type="password" matInput formControlName="newPassword" />
        <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors">
          {{ resetPasswordConstants.INVALID_PASSWORD }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{
          resetPasswordConstants.CONFIRM_NEW_PASSWORD_LABEL
        }}</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirmNewPassword"
          (input)="onConfirmPasswordInput()"
        />
        <mat-error *ngIf="confirmNewPassword?.invalid">
          {{ resetPasswordConstants.PASSWORDS_DONT_MATCH }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="!resetPasswordForm.valid"
        color="primary"
        (click)="resetPassword()"
        routerLink="/post-reset-password"
      >
        {{ resetPasswordConstants.RESET_PASSWORD }}
      </button>
    </div>
  </form>
</div>
