.container {
  width: 300px;
  height: 300px;
  top: 25%;
  bottom: 25%;
  background: white;
  display: inline-flex;
}

.sidenav-content {
  display: flex;
  height: 100%;
  left: 25%;
  align-items: flex-start;
  justify-content: flex-start;
}

.drawer {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border: 2px solid #F48FB1;
  border-radius: 25px;
}

button{
  border: 0;
}

.button-wrapper{
  display: grid;
}







