<mat-drawer-container class="container">
  <mat-drawer #drawer class="drawer" mode="side">
    <div class="button-wrapper">
      <button mat-stroked-button (click)="navigateToProfilePage()">
        {{ sidenavConstants.PROFILE }}
        <mat-icon color="primary">account_circle</mat-icon>
      </button>
      <button mat-stroked-button>
        {{ sidenavConstants.CONTACT_US }}
        <mat-icon color="primary">mail</mat-icon>
      </button>
      <button mat-stroked-button>
        {{ sidenavConstants.MY_TASKS }}
        <mat-icon color="primary">receipt_long</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <button
      type="button"
      mat-icon-button
      color="primary"
      (click)="drawer.toggle()"
    >
      <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon>
      <mat-icon *ngIf="drawer.opened === false">chevron_right</mat-icon>
    </button>
  </div>
</mat-drawer-container>
