<div class="background"></div>
<div class="form-container">
  <p class="title">
    <strong>{{ registerPageConstants.REGISTER }}</strong>
  </p>
  <form [formGroup]="registerForm">
    <div class="mat-form-fields-wrapper">
      <!-- Input field for User Name -->
      <mat-form-field appearance="outline">
        <mat-label>{{ registerPageConstants.USER_NAME }}</mat-label>
        <input matInput formControlName="userName" />
        <mat-error
          *ngIf="registerForm.controls['userName'].hasError('required')"
        >
          {{ registerPageConstants.REQUIRED_FIELD }}
        </mat-error>
      </mat-form-field>

      <!-- Input field for Email -->
      <mat-form-field appearance="outline">
        <mat-label>{{ registerPageConstants.EMAIL }}</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            registerForm.controls['email'].hasError('email') &&
            !registerForm.controls['email'].hasError('required')
          "
        >
          {{ registerPageConstants.INVALID_EMAIL }}
        </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
          {{ registerPageConstants.REQUIRED_FIELD }}
        </mat-error>
      </mat-form-field>

      <!-- Input field for Password -->
      <mat-form-field appearance="outline">
        <mat-label>{{ registerPageConstants.PASSWORD }}</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          #passwordInput
          (input)="onPasswordInput()"
        />
        <mat-error
          *ngIf="registerForm.controls['password'].hasError('required')"
        >
          {{ registerPageConstants.REQUIRED_FIELD }}
        </mat-error>
        <mat-error
          *ngIf="
            !registerForm.controls['password'].hasError('required') &&
            registerForm.controls['password'].hasError('pattern')
          "
        >
          {{ registerPageConstants.INVALID_PASSWORD }}
        </mat-error>
      </mat-form-field>

      <!-- Input field for Confirm Password -->
      <mat-form-field appearance="outline">
        <mat-label>{{ registerPageConstants.CONFIRM_PASSWORD }}</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirmPassword"
          (input)="onPasswordInput()"
        />
        <mat-error *ngIf="confirmPassword?.invalid">
          {{ registerPageConstants.PASSWORDS_DONT_MATCH }}
        </mat-error>
      </mat-form-field>

      <!-- Input field for First Day of Last Menstruation -->
      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>{{ registerPageConstants.CHOOSE_A_DATE }}</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          formControlName="firstDayOfLastMenstruation"
          [max]="maxDate"
        />
        <mat-hint>{{ registerPageConstants.DATE_FORMAT }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker> </mat-datepicker>
        <mat-error
          *ngIf="
            registerForm.controls['firstDayOfLastMenstruation'].hasError(
              'required'
            )
          "
        ></mat-error>
      </mat-form-field>
      <div class="terms-of-agreement-container">
        <mat-checkbox color="primary" formControlName="acceptTACCheckbox">
          <a (click)="openTermsAndConditions()" href="#" target="_blank">{{
            registerPageConstants.TERMS_OF_AGREEMENT_HYPERLINK
          }}</a>
        </mat-checkbox>
      </div>
      <button
        mat-raised-button
        (click)="register()"
        color="primary"
        [disabled]="!registerForm.valid"
      >
        {{ registerPageConstants.SEND }}
      </button>
    </div>
  </form>
  <div class="nav-container">
    <a routerLink="/login">{{ registerPageConstants.HAVE_AN_ACCOUNT }}</a>
  </div>
</div>
