.wrapper{
    border: 8px inset #F48FB1;
    width: 50%;
    margin: auto;
    top: 25%;
    left: 25%;
    height: fit-content;
    position: absolute;
}

.heading{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: 5%;
    text-align: center;
}

.button-wrapper{
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
}
