*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 3px 3px rgba(0,0,0,0.31);    
    margin-top: 5%;
    text-align:  center;
}
