@media only screen and (max-height: 480px){
  .form-container{
    overflow-y: scroll;
  }
}

.form-container {
    width: 50%;
    margin: auto;
    top: 25%;
    left: 25%;
    height: 50%;
    position: absolute;
    
    border: 8px inset #F48FB1;
}
  
mat-form-field{
    display: block;
    width: 50%;
}

.mat-form-fields-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-container{
    justify-content: space-around;
    display: flex;
    margin-top: 5%;
}

.title{
    text-align: center;
    font-size: 32px;
    margin-top: 5%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #F48FB1;
}
  
.background{
    background: url('../../assets/images/login-page-background.png') no-repeat center center fixed;
    top: 0;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.spinner-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  background-color: rgba(0,0,0, 0.3);
}

button{
  margin-top: 1%;
}